<ion-header>
    <ion-toolbar>

        <ion-searchbar animated type="search" placeholder="请输入关键字查询"></ion-searchbar>

        <ion-buttons slot="end">
            <ion-menu-toggle menu="SEARCH_MENU">
                <ion-button>
                    <ion-icon name="list"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let item of items">
        <ion-item tappable [routerDirection]="'root'" [routerLink]="['/detail']">
            <ion-icon [name]="item.icon" slot="start"></ion-icon>
            {{item.title}}
            <div class="item-note" slot="end">
                {{item.note}}
            </div>
        </ion-item>
    </ion-card>

</ion-content>
